@{
    ViewBag.Title = "Home Page";
}
<style>
    body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
    .jumbotron{
        display: flex;
        align-items: center;
        justify-content: center;
        }
     input{
     margin-left: 20px;
     }   
</style>
<div class="jumbotron">
    <form action="/Feedback/Add">
        Name : <input type="text" name="name"><br><br>
        Email : <input type="text" name="email"><br><br>
        Message : <textarea name="message"></textarea><br><br>
        <input type="submit" value="Send"><br><br>
    </form>
    <a href="/Admin/Login">Admin Login</a>
</div>
