
@{
    ViewBag.Title = "Login";
}
<br><br>
<br><br>
<br><br>
<form action="/Admin/Check">
    <input type="text" name="name"><br><br>
    <input type="password" name="pass"><br><br>
    <input type="submit" value="Login"><br><br>
</form>
